.Report-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Report-head {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
}

.Report-name {
  flex: 1;
  width: 50%;
  display: inline-block;
  font-size: 3rem;
  text-transform: uppercase;
}

.Report-back {
  float: right;
}

.Report-frames {}

.Report-frame {}

.Report-frame .start {}

.Report-frame .end {}

.Report-frame .duration {}

.Report-frame .tags {}

.Report-frame .tags .tags-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.Report-frame .tags .tags-wrapper .tag {
  margin-right: 0.5rem !important;
}

@media all and (max-width: 700px) {
  .Report-details,
  .Report-head {
    flex-direction: column;
  }

  .Report-head {
    margin-bottom: 2rem;
  }

  .Report-name {
    width: auto;
  }
}
