.Summary-wrapper {
  width: 50%;
}

.Summary {}

.Summary .total {
  font-size: 4rem;
  padding: 1rem 0 0 1rem;
  color: #585f7b;
}

.Summary .total span {
  font-size: 1rem;
  color: #333;
}

.Summary .tags {
  display: flex;
  flex-wrap: wrap;
}

.Summary .tags > * {
  width: 50%;
}

.Summary .tag-ratio-bar {
  color: #269272 !important;
  background-color: #efefef !important;
  margin-bottom: 1rem !important;
}
