.Projects {}

.Projects-list {
  display: flex;
  flex-wrap: wrap;
}

.Project {
  width: calc(20vw - 1.5rem);
  margin: 1rem 0.5rem;
}

.Project h4 {
  margin: 0;
}

.Project h4 a {
  display: block;
  height: 100%;
  overflow: hidden;
  padding: 2rem 1rem;
  background-color: #2e354f !important;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-overflow: ellipsis;
}

.Project h4 a:hover {
  background-color: #585f7b !important;
}

.Empty pre {
  text-align: left;
}

@media all and (max-width: 700px) {
  .Projects-list {
    flex-direction: column;
  }

  .Project {
    width: auto;
    margin-bottom: 0;
  }
}
