.App {
  flex: 1 1 100%;
}

.App-content > *:not(.Home) {
  padding: 1rem;
}

.App-bar a {
  color: #fff;
  text-decoration: none;
}

.App-bar a:focus,
.App-bar a:hover {
  text-decoration: underline;
}
