.Project-details {
  display: flex;
  flex-wrap: wrap;
}

.Project-name {
  width: calc(100% - 2rem);
  font-size: 3rem;
  text-transform: uppercase;
}

.Project-back {
  float: right;
}

.Project-frames {}

.Project-frame {}

.Project-frame .start {}

.Project-frame .end {}

.Project-frame .duration {}

.Project-frame .tags {}

.Project-frame .tags .tags-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.Project-frame .tags .tags-wrapper .tag {
  margin-right: 0.5rem !important;
}
